body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    text-align: center;
}
#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
.password {
    position: relative;
    left: 30%;
    background: #0a66c29d;
    margin: 1%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    width: 35%;
	}
.password2 {
	position: relative;
    left: 30%;
    background: #0a66c29d;
    margin: 1%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    width: 35%;
}
.login {
    position: relative;
    left: 30%;
    background: #0a66c29d;
    margin: 1%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    width: 35%;
	}
.footer {
    display: flex;
    font-size: 0.7em;
    color: hsl(0deg 0% 37%);
    gap: 14em;
    padding-bottom: 10em;
}

#register, #toLogin{
    
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
}
input { cursor: pointer; }


.inp {
    background-color: #ffffff;
    position: relative;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
  }
  .inp .label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 16px;
    color: rgb(197, 197, 197);
    font-weight: 700;
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .inp input {
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
  }
#message{
    font-family: inherit;
    font-size: larger;
    font-weight: bolder;
}