body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: azure;
}
#result {
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    font-style: italic;
    
}
#solution {
    position: relative;
    left: 33%;
    right: 33%;
    background-color: #0A66C2;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
}
#jumpMain, #jumpHistory{
    position: relative;
    left: 33%;
    right: 33%;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
  }